In [15]:
from sqlalchemy import create_engine, MetaData
from langchain.sql_database import SQLDatabase
from langchain.chains import SQLDatabaseChain, SQLDatabaseSequentialChain
from langchain.llms.openai import OpenAI
from langchain.chat_models import ChatOpenAI

In [2]:
OPENAI_API_KEY = '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'

In [3]:
#os.environ["OPENAI_API_KEY"] = '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'
#openai.api_key = os.getenv("OPENAI_API_KEY")

In [4]:
metadata_obj = MetaData()

In [5]:
engine = create_engine("postgresql://nba_sql:nba_sql@localhost:5432/nba")
metadata_obj.create_all(engine)

In [6]:
db = SQLDatabase(engine)

In [ ]:
#llm = OpenAI(temperature=0, openai_api_key=OPENAI_API_KEY, max_tokens=1000)

In [8]:
llm = ChatOpenAI(temperature=0, openai_api_key=OPENAI_API_KEY)

In [11]:
sql_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

/home/bobcasta/.nbagpt/lib/python3.8/site-packages/langchain/chains/sql_database/base.py:54: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [12]:
sql_chain.run("Which year LeBron James are drafted?")

> Entering new SQLDatabaseChain chain...
Which year LeBron James are drafted?
SQLQuery:SELECT draft_year FROM player WHERE player_name = 'LeBron James'
SQLResult: [('2003',)]
Answer:LeBron James was drafted in 2003.
> Finished chain.

'LeBron James was drafted in 2003.'

In [14]:
sql_chain.run("List all teams that LeBron James played for.")

> Entering new SQLDatabaseChain chain...
List all teams that LeBron James played for.
SQLQuery:SELECT team.abbreviation
FROM team
JOIN player_season ON team.team_id = player_season.team_id
JOIN player ON player_season.player_id = player.player_id
WHERE player.player_name = 'LeBron James'
SQLResult: [('LAL',)]
Answer:LeBron James played for the Los Angeles Lakers (LAL).
> Finished chain.

'LeBron James played for the Los Angeles Lakers (LAL).'

In [20]:
sql_chain.run("What is LeBron James's age, height, and weight?")

> Entering new SQLDatabaseChain chain...
What is LeBron James's age, height, and weight?
SQLQuery:SELECT age, player_height, player_weight FROM player_season WHERE player_id = (SELECT player_id FROM player WHERE player_name = 'LeBron James') LIMIT 1;
SQLResult: [(38, '6-9', '250')]
Answer:LeBron James's age is 38, his height is 6-9, and his weight is 250.
> Finished chain.

"LeBron James's age is 38, his height is 6-9, and his weight is 250."

In [16]:
chain = SQLDatabaseSequentialChain.from_llm(llm, db, verbose=True)

/home/bobcasta/.nbagpt/lib/python3.8/site-packages/langchain/chains/sql_database/base.py:54: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [22]:
chain.run("What is LeBron average points per season?")

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['player_season', 'player_general_traditional_total']

> Entering new SQLDatabaseChain chain...
What is LeBron average points per season?
SQLQuery:SELECT AVG(pts) FROM player_season WHERE player_id = (SELECT player_id FROM player WHERE player_name = 'LeBron James')
SQLResult: [(1590.0,)]
Answer:LeBron James' average points per season is 1590.0.
> Finished chain.

> Finished chain.

"LeBron James' average points per season is 1590.0."